.project-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 8em;
  margin-top: 3em;
  grid-column-gap: 15em;
  grid-row-gap: 5em;
}

.project-grid-cell {
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
  border-radius: 1em;
  padding: 2em;
}
