.portfolio-grid {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 15em;
  grid-row-gap: 80vh;
}

.portfolio-grid-cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button {
  position: sticky;
  padding: 1em;
  margin: 2em;
  border-radius: 1em;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 208, 1);
  border: none;
  font-size: 0.9vw;
  border: 1px solid rgb(255, 208, 1);
}

button:hover {
  border-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  cursor: pointer;
}
