.skills-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  background-color: #000000da;
  width: 80vw;
  margin: 0 auto 0 auto;
  border-radius: 1em;
  padding: 3em;
}

.skills-content {
  display: flex;
  flex-direction: column;
  margin: 0 auto 0 auto;
}
