.experience-grid {
  display: flex;
  flex-direction: column;
  background-color: #000000da;
  width: 70%;
  margin: auto;
  padding: 2em;
  border-radius: 1em;
}

.experience-grid-cell {
  display: flex;
  flex-direction: column;
  background-color: rgba(49, 49, 49, 0.822);
  width: 90%;
  margin: 2em auto 2em auto;
  border-radius: 1em;
  padding: 3em;
  text-align: center;
}
